/* =================== common css start ================= */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
ul,ol {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #EBD3F8, #C0DFF8);
}
/* ====================== common css end ======================== */

